.container-carrusel{
    width: 100%;
}
.contenedor-Img-Carrusel-Home {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.datos-Title-Descripcion-Carrusel-Home {
    height: 380px;
    width: 100%;
    position: absolute;
    color: white;
    background-color: #000000b8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.datos-Title-Descripcion-Carrusel-Home.active {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.btn-Home-Carrusel-Prev {
    position: absolute;
    height: 100%;
    width: 5%;
    font-size: 5rem;
    color: white;
    background-color: rgba(71, 71, 71, 0.527);
    border: none;
}

.btn-Home-Carrusel-Next {
    position: absolute;
    height: 100%;
    width: 5%;
    font-size: 5rem;
    right: 0;
    color: white;
    background-color: rgba(71, 71, 71, 0.527);
    border: none;
}

.img-Home-Actual {
    width: 100%;
    display: block;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.animacionImg {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}