.card-image-top {
   height: 225px;
    width: 100%;
    height: 12rem;
     display: block;
}
.card-display{
    gap: 5px;
        display: inline-flex;
        flex-wrap: wrap;
}
.customize-card{
    border-radius: 30px;
    border-bottom: solid;
    border-color: #DB5752;
    border-width: 5px;
    box-shadow: 1px 12px 3px -7px rgba(0,0,0,0.75);
    /* height: 25rem; */
    /* width: 18rem; */
    position: relative;
    z-index: 1;
    transition: all 0.2s ease-out;
 
}
.customize-card:hover{
    box-shadow: 1px 15px 16px 0px rgba(0,0,0,0.75);
    transform: translateY(-0.5rem);
}

.card-title{
    font-family:  'Neucha', cursive;
    font-size: 1.7rem;
}
.noNews{
    font-family: 'Neucha' , cursive;
    color: black;
    background-color:  #9AC9FB;
}
.customize-image-border{
    border-bottom: #455980 solid 6px;
    border-radius: 5px;
}
.cursor-default{
    cursor: default;
}
.bottom-text{
    position: absolute;
    bottom: 1px;
    margin-left: 1rem;
    padding: 0.2rem;
    cursor:pointer;
    z-index: 2;
    color: white;
    background-color: #9AC9FB;
    border-radius: 10px;
    font-family: 'Shadows Into Light', cursive;
}
.bottom-text::after{
    cursor: pointer;
    content: "";
    position: absolute;
    left: 6px;
    bottom: 1px;
    width: 90%;
    height: 5px;
    border-radius: 5px;
    background: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
  }
  .bottom-text:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    cursor: pointer;
 }


.bottom-text:hover{
    background-color: #2462c7;

}

@media (max-width: 600px) {


}
