.Donations-title{
    font-family: 'Neucha' , cursive;
    color: black;
    background-color:  #9AC9FB;
}
.button-text{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
}

.error_message_input{
    margin-left: 10px;
    padding: 5px 0;
}