import React, { Suspense, lazy } from 'react'
import './LazyLoadImages/LazyLoad.css';
const LazyLoad = lazy(() => import('./LazyLoadImages/LazyLoad.js'));

 <Suspense fallback={<div class="lds-dual-ring w-100 d-flex justify-content-center"></div>}>
    <LazyLoad image={image}/>
</Suspense>