@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Neucha&family=Shadows+Into+Light&display=swap%27');
$title:  'Neucha', cursive;
$body: 'Archivo Narrow', sans-serif;
$button-text: 'Shadows Into Light', cursive;
$first-color: #9AC9FB;
$second-color: #FAFA88;
$third-color: #DB5752;



p {
    display: flex;
    justify-content: center;
}

#activitiesDetailContent{
    background-color: $second-color;
    p{
        font-family: $body;
        font-size: large;
        padding: 10px;
        color: black;
    }
    img{
        width: 400px;
        height: 200px;
        margin: 10px auto;
        object-fit: cover;
    }
    @media all and (max-width: 450px) {
        p{
            font-size: medium;
        }
        img{
            width: 80vw;
            height: 20vh;
            margin: 5px auto;
        }
    }
    h1, h2, h3, h4, h5, h6{
        font-family: $title;
    }

}