@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Neucha&family=Shadows+Into+Light&display=swap%27');
$title:  'Neucha', cursive;
$body: 'Archivo Narrow', sans-serif;
$button-text: 'Shadows Into Light', cursive;
$first-color: #9AC9FB;
$second-color: #FAFA88;
$third-color: #DB5752;


a{
    background-color: $first-color
}

p {
    display: flex;
    justify-content: center;
}

#usersListContainer{
    height: auto;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    #tableResponsive{
        font-size: 0.8rem;
    }
}

.headers{
    font-size: 1.7rem;
    font-family: $title;
}
