@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Neucha&family=Shadows+Into+Light&display=swap%27');
$title:  'Neucha', cursive;
$body: 'Archivo Narrow', sans-serif;
$button-text: 'Shadows Into Light', cursive;
$first-color: #9AC9FB;
$second-color: #FAFA88;
$third-color: #DB5752;


a{
    background-color: $first-color
}

p {
    display: flex;
    justify-content: center;
}

#usersListContainer{
    height: auto;
    margin: 15px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .headers{
        font-size: 1.7rem;
        font-family: $title;
    }
    #tableResponsive{
        font-size: 0.9rem;
        .actions_container{
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
        }
        @media all and (max-width: 576px) {
            font-size: 0.7rem;
        }
    }
    @media all and (max-width: 400px) {
        margin: 15px -8px;
    }
}




